{:paths ["src" "test"]
 :deps {keechma/pipelines {:mvn/version "0.1.1"}
        Cukac/keechma.next.toolbox-lite {:git/url "https://github.com/Cukac/keechma.next.toolbox-lite"
                                         :sha "51d6c06a66c266f0bdf7d20c06c07ee61cc18222"}}}
